@import '../../globalStyles/mixins.scss';

.products-container {
  width: 85%;
  padding-top: 45px;
  margin: auto;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  column-gap: 2.67%;
  row-gap: 35px;

  &__product-item {
    padding: 10px;
    background-color: #fff;
    &__image-container {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 300px;
      }
    }
  }

  &__product-item:hover {
    cursor: pointer;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
