@import '../../globalStyles/mixins.scss';

.products-container {
  width: 85%;
  padding-top: 45px;
  margin: auto;

  .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;

    &__categories {
      height: 38px;
    }

    &__grid {
      display: grid;
      grid-template-columns: 23% 23% 23% 23%;
      column-gap: 2.67%;
      row-gap: 35px;

      &__grid-item {
        height: 420px;
      }
    }
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

  &__products-filter {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    @include flexRow;

    &__category {
      width: 20%;
      padding: 10px;
      text-align: center;
      border-right: 1px solid grey;
      text-transform: capitalize;

      &--active {
        color: #fff;
        font-weight: 800;
        background-color: #0b79bf;
      }
    }

    &__category:last-child {
      border-right: none;
    }

    &__category:hover {
      cursor: pointer;
      color: #fff;
      background-color: #0b79bf;
    }
  }

  &__products-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2.67%;
    row-gap: 35px;

    &__product-item {
      padding: 10px;
      background-color: #fff;

      &__image-container {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 300px;
        }
      }

      &__image-container {
        cursor: pointer;
      }

      &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__price-cart-row {
        @include flexRowSpaceBetween;

        p {
          font-weight: 700;
        }

        button {
          border: none;
          color: #fff;
          padding: 0 10px;
          font-weight: 700;
          border-radius: 5px;
          background-color: #1c8644;
        }

        button:hover {
          cursor: pointer;
        }
      }
    }

    &__product-item:hover {
      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
